.card {
    border: none!important

}

.copyBtn {
    /* background: rgb(189, 69, 89); */
    border: none!important

}
.copyBtn:hover {
    /* background: rgb(255, 206, 214)!important; */
    border: none!important
}