.boxi {
background:#b6b6ff;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.blueBtn {
    background:#7f7ffb;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none

}
.blueBtn:hover {
    background: #5c5cb4
   
}