.icon {
  fill: rgba(0, 0, 0, 0.36);
  border-radius: 50%;
  box-shadow: 5px 5px 9px #bec3c9, -5px -5px 9px #ffffff;
  border: 3px solid rgba(255, 255, 255, 0);
  margin: 0.5rem;
}
.icon:hover {
  box-shadow: 7px 7px 15px #a0a5aa, -9px -9px 15px #ffffff;
  cursor: pointer;
}
.icon:active,
.icon:focus {
  box-shadow: inset 5px 5px 9px #bec3c9, inset -5px -5px 9px #ffffff;
  fill: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  border: 3px solid white;
  transform: scale(1.3);
}
.topform {
  top: 0;
  /* height:200px */
}
.topFormInner {
  display: flex;
  width: 100%;
  justify-content: center;
}

.iconsAgent,
.iconsClient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.25rem;
}
.woman {
  background: pink;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.3);
}

.man {
  background: rgb(190, 190, 255);
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.3);
}
.css-1s2u09g-control{
  border-radius: none!important;

}
.ff {
  display: flex;
  flex-wrap: wrap;
  max-width: 20%;
  flex-direction: row;
  background: pink;
  width: 25%;
  min-height: 230px;
  padding: 1rem;
  align-items: space-between;
  justify-content: space-between;
}

.frame {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: space-between;
}


.note-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: calc(1.5em * 5); /* 1.5 is the line-height, 5 is the number of lines you want to display */
}

.card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover,
.card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}

.agentName, .clientName, .caseId, .caseIssue {
  display: flex;
  justify-content: space-between;
}